/* =================================
------------------------------------
  LibChurch - Event Template
  Version: 1.0
 ------------------------------------ 
 ====================================*/

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
    font-family: 'codec';
    src:url('../fonts/codec/Codec-Warm-Bold-trial.ttf') format('truetype');
    src:url('../fonts/codec/Codec-Warm-Bold-trial.woff') format('truetype');
}

html,
body {
    height: 100%;
    font-family: 'Montserrat', "Open Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #252525;
    margin: 0;
    font-weight: 600;
    font-family: 'Montserrat', "Open Sans", sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
    line-height: 1.2;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 14px;
}

p {
    font-size: 16px;
    color: #636363;
    line-height: 1.8;
}

img {
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

/*---------------------
	Commom elements
-----------------------*/

/* Buttons */
.site-btn {
    padding: 14px 23px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2px;
    /* background: #39b5d7; */
    letter-spacing: 1px;
    text-align: center;
}

.site-btn-banner {
    margin-top: 22em;
}

.site-btn:hover {
    color: #fff;
}

.site-btn.sb-wide {
    padding: 14px 35px;
}

.site-btn.sb-line {
    background-color: transparent;
    /* border: 2px solid #dd3e3e; */
    color: #fff;
    letter-spacing: 2px;
    border: 2px solid white;
}

.site-btn.sb-line:hover {
    background: #fff;
    color: #dd3e3e;
}

.site-btn.sb-light-line {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    letter-spacing: 2px;
}

.site-btn.sb-full {
    width: 100%;
    display: block;
}

/* Preloder */
#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #fff;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

/*---------------------
	Helper CSS
-----------------------*/
.section-title {
    text-align: center;
    /* margin-bottom: 70px; */
    /* custom */
    margin-bottom: 30px;
}

.section-title.title-left {
    text-align: left;
}

.section-title span {
    font-size: 16px;
    font-weight: 700;
    color: #dd3e3e;
    margin-bottom: 10px;
    display: block;
}

.section-title h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.spad {
    /* padding: 100px 0; */
    /* custom */
    padding: 6em 3em;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
}

/*---------------------
	Header section
-----------------------*/

/* header top */
.top-nav-section {
    background-color: rgb(165 198 204);
    /* background: #39b5d7; */
    /* background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 21%, rgba(29, 175, 253, 1) 57%, rgba(252, 69, 69, 1) 100%); */
    padding: 15px 0;
}

.top-nav-section .social {
    display: inline-block;
    margin-top: 10px;
}

.top-nav-section .social a {
    color: #fff;
    margin-right: 30px;
}

.counter-top {
    text-align: center;
}

.counter-top h5 {
    letter-spacing: 1px;
    font-weight: 700;
}

.counter-top h5 {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    top: -9px;
    position: relative;
}

.counter-top .counter {
    display: inline-block;
    margin: 0 20px;
}

.counter-top .counter .counter-item {
    padding: 0 20px;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    border-right: 1px solid #503030;
    display: inline-block;
}

.counter-top .counter .counter-item:last-child {
    border-right: none;
}

.counter-top .counter .counter-item h4 {
    font-size: 20px;
    color: #fff;
}

.counter-top .top-readmore {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #dd3e3e;
    top: -9px;
    position: relative;
}

.user-input {
    float: right;
    padding-top: 10px;
}

.user-input a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.header-section {
    /* padding: 30px 0; */
    position: relative;
    /* custom */
    padding: 15px;
}

.header-section .site-btn {
    float: right;
    margin-left: 100px;
}

.site-logo {
    display: inline-block;
    margin-right: 20px;
    padding-top: 5px;
}

.nav-switch {
    display: none;
}

.main-menu {
    display: inline-block;
    float: right;
    padding-top: 5px;
}

.main-menu ul {
    list-style: none;
}

.main-menu ul li {
    display: inline;
}

.main-menu ul li a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #252525;
    margin-left: 20px;
    padding: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    /* New */
    letter-spacing: 1px;

}

.main-menu ul li a:hover {
    color: #39b5d7;
}

.main-menu ul li.active a {
    color: #39b5d7;
}

/*---------------------
	Hero Section
-----------------------*/
.hero-section {
    height: 700px;
    position: relative;
}

.hero-section img {
    max-height: 700px;
    width: auto;
    height: auto;
}

.hero-section video {
    width: auto;
    height: 700px;
}

.hero-section:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0;
}

.hero-section .hero-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    z-index: 2;
}

.hero-section .hero-content .hc-inner {
    display: table-cell;
    vertical-align: middle;
}

.hero-section .hero-content h2 {
    font-size: 96px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.hero-section .hero-content p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 40px;
}

/*---------------------
	Event Section
-----------------------*/
.event-section {
    /* background: #39b5d7; */
    padding: 20px 0;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 21%, rgba(29, 175, 253, 1) 57%, rgba(252, 69, 69, 1) 100%);
}

.event-section .counter {
    display: inline-block;
    margin: 0 20px;
}

.event-section .counter .counter-item {
    padding: 15px 25px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    border-right: 1px solid #fff;
    text-align: center;
    display: inline-block;
}

.event-section .counter .counter-item:last-child {
    border-right: none;
}

.event-section .counter .counter-item h4 {
    font-size: 30px;
    color: #fff;
}

.event-section .site-btn {
    position: relative;
    top: -15px;

}

.event-date {
    display: inline-block;
    float: left;
    text-align: center;
    background: #252525;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    width: 75px;
    font-size: 12px;
    margin-right: 30px;
    padding-bottom: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.event-date h2 {
    display: block;
    background: #fff;
    color: #dd3e3e;
    padding: 8px 0;
    font-weight: 700;
    margin-bottom: 5px;
}

.event-info h3 {
    padding-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}

.event-info p {
    color: #fff;
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 0;
}

.event-info p i:last-child {
    margin-left: 15px;
}

/*---------------------
	About Section
-----------------------*/
.about-content h2 {
    font-family: 'codec', sans-serif;
    margin-bottom: 30px;
}

.about-content .site-btn {
    margin-top: 40px;
}

/*---------------------
	Service Section
-----------------------*/
.services-section {
    background: #f6f8f9;
}

.service-box h4 {
    margin-bottom: 15px;
}

.service-box h4 i {
    color: #dd3e3e;
    margin-right: 10px;
}

.service-box p {
    margin-bottom: 20px;
}

.service-box .s-readmore {
    color: #b7b7b7;
    font-size: 17px;
}

.service-box .s-readmore i {
    color: #dd3e3e;
}

/*---------------------
	Sermone Section
-----------------------*/
.sermon-section {
    padding-bottom: 0;
}

.sermon-warp {
    background: #f6f8f9;
    position: relative;
}

.sermon-left-bg {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 2em;
}

.sermon-content {
    /* padding-top: 100px; */
    padding-bottom: 100px;
    /* padding-left: 70px; */
    /* Custom */
    padding: 2em 2em 0;
}

.sermon-content h2 {
    margin-bottom: 30px;
}

.sermon-info {
    list-style: none;
    margin-bottom: 20px;
}

.sermon-info li {
    font-size: 18px;
    font-family: "Lora", serif;
    font-style: italic;
    margin-bottom: 10px;
}

.sermon-info li span {
    color: #dd3e3e;
}

.icon-links {
    margin-top: 40px;
}

.icon-links a {
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    color: #000000;
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    padding-top: 12px;
    -webkit-box-shadow: 0 0 0px 2px #f0f1f1;
    box-shadow: 0 0 0px 2px #f0f1f1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    margin-top: 10px;
}

.icon-links a:hover {
    background: #dd3e3e;
    color: #fff;
}

/*---------------------
	Event Section
-----------------------*/
.event-list .el-item {
    margin-bottom: 50px;
}

.event-list .el-item:last-child {
    margin-bottom: 0;
}

.event-list .el-thubm {
    height: 262px;
}

.event-list .el-header {
    display: block;
    margin-bottom: 25px;
}

.event-list .el-date {
    display: inline-block;
    float: left;
    text-align: center;
    background: #dd3e3e;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    width: 75px;
    font-size: 12px;
    margin-right: 30px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.event-list .el-date h2 {
    display: block;
    background: #f5f5f5;
    color: #000;
    padding: 8px 0;
    font-weight: 700;
    margin-bottom: 5px;
    border-radius: 4px 4px 0 0;
}

.event-list h3 {
    padding-top: 5px;
}

.event-list .el-metas {
    padding-top: 15px;
}

.event-list .el-metas .el-meta {
    display: inline-block;
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 16px;
    margin-right: 15px;
}

.event-list .el-metas .el-meta i {
    color: #dd3e3e;
}

.event-list .el-metas .el-meta:last-child {
    margin-right: 0;
}

.event-list p {
    margin-bottom: 25px;
}

.event-list .site-btn {
    color: #dd3e3e;
}

/*---------------------
	Donate Section
-----------------------*/
.donate-section {
    position: relative;
    background-position: center center;
}

.donate-section .container {
    position: relative;
    z-index: 1;
}

.donate-section:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.65;
}

.donate-content {
    padding-right: 0;
}

.donate-content h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 3em;
}

.donate-content img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.donate-content p {
    color: #fff;
    margin-bottom: 0;
}

.donate-info {
    list-style: none;
    margin-bottom: 30px;
}

.donate-info li {
    font-size: 18px;
    font-family: "Lora", serif;
    font-style: italic;
    margin-bottom: 10px;
    color: #fff;
}

.donate-info li span {
    color: #dd3e3e;
}

.donate-card {
    margin-left: 30px;
    padding: 40px 50px;
    background: #fff;
    border-radius: 4px;
}

.donate-card h2 {
    font-weight: 700;
    color: #dd3e3e;
    margin-bottom: 60px;
}

.donate-card h2 span {
    font-family: "Lora", serif;
    color: #636363;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin-left: 20px;
}

.donate-card .donate-progress-bar {
    display: block;
    width: 100%;
    height: 10px;
    background: #ebebeb;
    position: relative;
    margin-bottom: 15px;
}

.donate-card .donate-progress-bar .pb-inner {
    position: absolute;
    height: 100%;
    width: 60%;
    left: 0;
    top: 0;
    background: #dd3e3e;
}

.donate-card .donate-progress-bar .pb-inner span {
    position: absolute;
    width: 48px;
    height: 22px;
    top: -35px;
    right: -24px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    background: #252525;
}

.donate-card .donate-progress-bar .pb-inner span:after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background: #252525;
    bottom: -3px;
    left: 21px;
    -webkit-transform: rotate(47deg);
    -ms-transform: rotate(47deg);
    transform: rotate(47deg);
}

.donate-progress-info {
    display: block;
    margin-bottom: 60px;
    font-size: 14px;
    color: #636363;
}

.donate-progress-info span {
    color: #252525;
    font-size: 18px;
    font-weight: 600;
}

.donate-progress-info .di-left {
    float: left;
}

.donate-progress-info .di-right {
    float: right;
}

/*---------------------
	Blog Section
-----------------------*/
.blog-section {
    background: #f7f8f8;
}

.blog-item .bi-thumb {
    width: 100%;
    height: 250px;
}

.blog-item .bi-content {
    background: #fff;
    padding: 30px;
    -webkit-box-shadow: 0 30px 40px rgba(231, 234, 236, 0.7);
    box-shadow: 0 30px 40px rgba(231, 234, 236, 0.7);
}

.blog-item .bi-content .date {
    font-size: 14px;
    font-family: "Lora", serif;
    font-style: italic;
    color: #dd3e3e;
    margin-bottom: 10px;
}

.blog-item .bi-content h4 {
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog-item .bi-content h4 a {
    color: #252525;
}

.blog-item .bi-content .bi-author {
    display: inline-block;
    font-size: 14px;
    font-family: "Lora", serif;
    font-style: italic;
    color: #b7b7b7;
    margin-top: 3px;
}

.blog-item .bi-content .bi-author a {
    color: #252525;
}

.blog-item .bi-content .bi-cata {
    float: right;
    display: inline-block;
    background: #ebebeb;
    color: #252525;
    padding: 6px 10px;
    font-size: 11px;
    text-transform: uppercase;
}

/*---------------------
	Newsletter Section
-----------------------*/
.newsletter-section {
    padding: 35px 0;
    background: #39b5d7;
}

.newsletter-section h4 {
    color: #fff;
    font-weight: 700;
    padding-top: 8px;
}

.newsletter-form {
    position: relative;
    padding-left: 30px;
}

.newsletter-form input {
    background: #b83939;
    border: none;
    width: 100%;
    height: 47px;
    padding-left: 25px;
    border-radius: 2px;
    padding-right: 170px;
    color: #fff;
}

.newsletter-form .nl-send-btn {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    color: #dd3e3e;
    border: none;
    padding: 0 25px;
    border-radius: 2px;
}

.newsletter-form ::-webkit-input-placeholder {
    color: #fff;
}

.newsletter-form :-ms-input-placeholder {
    color: #fff;
}

.newsletter-form ::-ms-input-placeholder {
    color: #fff;
}

.newsletter-form ::placeholder {
    color: #fff;
}

/*---------------------
	Footer top Section
-----------------------*/
.footer-top-section {
    position: relative;
}

.footer-top-section .map-area {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    bottom: 0;
    background: #f6f6f6;
}

.footer-top-content h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-top-content h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-top-content h5 {
    font-size: 24px;
    font-weight: 400;
}

.footer-top-content p {
    font-size: 18px;
    color: #636363;
}

.footer-top-content p span {
    color: #252525;
    font-weight: 600;
}

/*---------------------
	Footer Section
-----------------------*/
.footer-section-main {
    padding: 2em 0;
    border-top: 3px dashed #39b5d7;
}

.footer-section {
    padding: 20px 0;
    background: #39b5d7;
    color: white;
}

.footer-section .social {
    text-align: right;
    display: block;
    padding-top: 5px;
}

.footer-section .social a {
    color: #fff;
    margin-right: 30px;
}

.footer-section .social a:last-child {
    margin-right: 0;
}

.copyright p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
}

/*---------------------
	Other Pages
-----------------------
=======================*/

.page-info-section {
    height: 200px;
    position: relative;
}

.page-info-section:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* background: #000; */
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 21%, rgba(29, 175, 253, 1) 57%, rgba(252, 69, 69, 1) 100%);
    opacity: 0.65;
}

.page-info-section .page-info-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
    z-index: 2;
}

.page-info-section .page-info-content .pi-inner {
    display: table-cell;
    vertical-align: middle;
}

.page-info-section .page-info-content h2 {
    color: #fff;
    margin-bottom: 15px;
}

.page-info-section .site-breadcrumb {
    padding-left: 2px;
}

.page-info-section .site-breadcrumb a,
.page-info-section .site-breadcrumb span {
    color: #fff;
}

.page-info-section .site-breadcrumb i {
    color: #fff;
    margin: 0 8px;
}

.pagination-area {
    padding-top: 60px;
    position: relative;
}

.pagination-area p {
    float: right;
    margin-bottom: 0;
    padding-top: 9px;
}

.pageination-list {
    list-style: none;
    display: inline-block;
}

.pageination-list li {
    display: inline;
}

.pageination-list a {
    display: inline-block;
    color: #252525;
    border: 1px solid #ebebeb;
    padding: 10px 14px;
    margin-right: 3px;
    font-size: 16px;
    border-radius: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.pageination-list a:hover {
    color: #fff;
    background: #dd3e3e;
    border: 1px solid #dd3e3e;
}

/*---------------------
	About Page
-----------------------*/
.pastor {
    text-align: center;
    padding: 30px;
    border-radius: 1px;
    -webkit-box-shadow: 0px 15px 60px rgba(76, 74, 74, 0.14);
    box-shadow: 0px 15px 60px rgba(76, 74, 74, 0.14);
}

.pastor .pastor-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto 28px;
}

.pastor h3 {
    font-size: 20px;
}

.pastor p {
    font-family: "Lora", serif;
    font-style: italic;
    margin-bottom: 0;
    color: #dd3e3e;
}

/*---------------------
	Sermons Page
-----------------------*/
.sermons-list-section .pagination-area {
    padding-top: 10px;
}

.sermon-item {
    margin-bottom: 50px;
}

.sermon-item .si-thumb {
    height: 250px;
}

.sermon-item .sermon-info {
    margin-bottom: 10px;
}

.sermon-item .si-content {
    padding: 30px;
    text-align: center;
    -webkit-box-shadow: 0 30px 40px rgba(231, 234, 236, 0.8);
    box-shadow: 0 30px 40px rgba(231, 234, 236, 0.8);
}

.sermon-item .si-content h4 {
    margin-bottom: 15px;
}

.sermon-item .icon-links {
    margin-top: 0;
}

.sermon-item .icon-links a {
    background: #f6f8f9;
    -webkit-box-shadow: 0 0 0px 1px #ebebeb;
    box-shadow: 0 0 0px 1px #ebebeb;
}

.sermon-item .icon-links a:hover {
    background: #dd3e3e;
}

/*---------------------
	Blog Page
-----------------------*/
.blog-page .pagination-area {
    padding-top: 10px;
}

.blog-page .blog-item {
    margin-bottom: 50px;
}

/*---------------------
	Single Blog Page
-----------------------*/
.single-post .post-content {
    margin-bottom: 35px;
}

.single-post .post-thumb {
    margin-bottom: 40px;
}

.single-post .date {
    font-size: 14px;
    font-family: "Lora", serif;
    font-style: italic;
    color: #dd3e3e;
    margin-bottom: 10px;
}

.single-post .post-title {
    font-weight: 400;
    margin-bottom: 15px;
}

.single-post .post-metas {
    margin-bottom: 30px;
}

.single-post .post-metas .post-meta {
    display: inline-block;
    font-size: 14px;
    font-family: "Lora", serif;
    font-style: italic;
    color: #b7b7b7;
    margin-top: 3px;
}

.single-post .post-metas .post-meta a {
    color: #252525;
}

.single-post p {
    font-size: 14px;
}

.single-post blockquote {
    margin: 30px 0;
    border-left: 2px solid #dd3e3e;
    padding: 8px 28px;
    font-size: 18px;
    font-family: "Lora", serif;
    font-style: italic;
    color: #636363;
}

.single-post blockquote span {
    display: block;
    font-family: "Open Sans", sans-serif;
    color: #dd3e3e;
    font-style: normal;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.single-post .post-tags a {
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    padding: 6px 15px;
    margin-right: 2px;
    margin-top: 5px;
    color: #636363;
    background: #ebebeb;
}

.single-post .social-share {
    display: block;
    text-align: right;
}

.single-post .social-share p {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
}

.single-post .social-share a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    text-align: center;
    border-radius: 40px;
    background: #f1f1f1;
    color: #343e51;
    padding-top: 10px;
    font-size: 14px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.single-post .social-share a:hover {
    color: #fff;
    background: #dd3e3e;
}

.single-post .post-nav {
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-top: 1px solid #ebebeb;
}

.single-post .post-nav a {
    font-size: 16px;
    color: #636363;
}

.single-post .post-nav a i {
    color: #dd3e3e;
}

.single-post .post-nav .next-post {
    float: right;
}

.comment-form h2 {
    margin-bottom: 40px;
}

.comment-form input[type='text'],
.comment-form input[type='email'],
.comment-form textarea {
    width: 100%;
    border: 1px solid #e5e5e5;
    font-size: 16px;
    padding: 16px 20px;
    margin-bottom: 20px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.comment-form input[type='text']:focus,
.comment-form input[type='email']:focus,
.comment-form textarea:focus {
    border-color: #232d37;
    outline: none;
}

.comment-form textarea {
    height: 120px;
    margin-bottom: 40px;
}

.widget {
    padding-left: 25px;
    margin-bottom: 50px;
}

.widget .widget-title {
    margin-bottom: 30px;
}

.widget ul {
    list-style: none;
}

.widget ul a {
    display: block;
    position: relative;
    color: #636363;
    font-size: 16px;
    padding-left: 30px;
    margin-bottom: 25px;
}

.widget ul a:after {
    position: absolute;
    content: "\f0da";
    font-family: 'FontAwesome';
    left: 0;
}

.widget ul a:hover,
.widget ul a:hover:after {
    color: #dd3e3e;
}

.widget .search-widget {
    max-width: 270px;
    position: relative;
}

.widget .search-widget input {
    width: 100%;
    padding: 15px 20px;
    padding-right: 50px;
    background: #ebebeb;
    border: none;
    font-size: 14px;
}

.widget .search-widget button {
    position: absolute;
    right: 10px;
    top: 0;
    color: #dd3e3e;
    height: 100%;
    border: none;
    background-color: transparent;
}

.widget .recent-post-widget .rp-item {
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
}

.widget .recent-post-widget .rp-thumb {
    width: 83px;
    height: 83px;
    float: left;
    margin-right: 30px;
}

.widget .recent-post-widget .rp-content p {
    font-size: 14px;
    font-family: "Lora", serif;
    font-style: italic;
    color: #dd3e3e;
    line-height: normal;
    margin-bottom: 18px;
}

.widget .recent-post-widget .rp-content h5 {
    font-size: 18px;
    line-height: 1.4;
}

.widget .archive a {
    padding-left: 0;
    font-family: "Lora", serif;
    font-style: italic;
}

.widget .archive a:after {
    display: none;
}

.widget .tags a {
    display: inline-block;
    min-width: 75px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 9px 20px;
    margin-right: 8px;
    margin-bottom: 8px;
    color: #636363;
    border: 1px solid #e5e5e5;
}

/*---------------------
	Contact Page
-----------------------*/
.full-map {
    height: 520px;
    background: #ddd;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form textarea {
    width: 100%;
    border: 1px solid #ebebeb;
    background: #f6f8f9;
    font-size: 16px;
    padding: 16px 20px;
    margin-bottom: 20px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.contact-form textarea {
    height: 120px;
    margin-bottom: 40px;
}

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .counter-top .counter {
        margin: 0 15px;
    }

    .main-menu ul li a,
    .header-section .site-btn {
        margin-left: 10px;
    }

    .event-section .counter {
        margin: 0 10px;
    }

    .event-list .el-metas {
        padding-top: 25px;
    }
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .top-nav-section .social {
        margin-top: 30px;
    }

    .top-nav-section .social a {
        margin-right: 20px;
    }

    .user-input {
        padding-top: 30px;
    }

    .site-logo {
        display: block;
        margin-bottom: 20px;
    }

    .main-menu {
        float: left;
    }

    .main-menu ul li:first-child a {
        padding-left: 0;
        margin-left: 0;
    }

    .main-menu ul li a {
        margin-left: 10px;
    }

    .header-section .site-btn {
        margin-left: 10px;
    }

    .event-info {
        margin-bottom: 40px;
    }

    .event-section .counter .counter-item:first-child {
        padding-left: 0;
    }

    .about-content {
        margin-bottom: 40px;
    }

    .sermon-left-bg {
        display: none;
    }

    .event-more {
        text-align: left;
    }

    .event-more .site-btn {
        margin-bottom: 40px;
    }

    .event-list .el-thubm {
        margin-bottom: 30px;
    }

    .donate-card {
        margin-left: 0;
        margin-top: 40px;
    }

    .blog-item {
        margin-bottom: 40px;
    }

    .newsletter-section {
        text-align: center;
    }

    .newsletter-form {
        margin-top: 30px;
        padding-left: 0;
    }

    .pastor {
        margin-bottom: 40px;
    }

    .widget {
        padding-left: 0;
    }

    .sidebar {
        padding-top: 50px;
    }
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
    .site-logo {
        display: block;
        margin-right: 60px;
    }

    .header-section .site-btn {
        margin-left: 0;
        float: none;
        margin-top: 20px;
    }

    .nav-switch {
        position: absolute;
        right: 30px;
        font-size: 30px;
        color: #232d37;
        top: 30px;
        display: block;
        cursor: pointer;
    }

    .main-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 111;
        background: #fff;
        width: 100%;
        padding-top: 0;
        padding: 0 20px;
        -webkit-box-shadow: 0px 40px 50px rgba(125, 125, 125, 0.13);
        box-shadow: 0px 40px 50px rgba(125, 125, 125, 0.13);
    }

    .main-menu ul li {
        display: block;
        border-bottom: 1px solid #f1f1f1;
    }

    .main-menu ul li a {
        display: block;
    }

    .main-menu ul li {
        padding: 5px 0;
    }

    .hero-section .hero-content h2 {
        font-size: 45px;
    }

    .event-info {
        margin-bottom: 40px;
    }

    .event-section .site-btn {
        top: 0;
        margin-top: 30px;
    }

    .event-section .counter {
        margin-left: 0;
        display: block;
    }

    .event-section .counter .counter-item:first-child {
        padding-left: 0;
    }

    .event-section .counter .counter-item {
        padding: 5px 13px;
    }

    .about-content {
        margin-bottom: 40px;
    }

    .service-box {
        margin-bottom: 30px;
    }

    .sermon-content {
        padding-left: 0;
    }

    .sermon-left-bg {
        display: none;
    }

    .event-more {
        text-align: left;
    }

    .event-more .site-btn {
        margin-bottom: 40px;
    }

    .event-list .el-metas {
        padding-top: 30px;
    }

    .event-list .el-thubm {
        margin-bottom: 30px;
    }

    .donate-card {
        margin-left: 0;
        margin-top: 40px;
        padding: 25px 25px;
    }

    .blog-item {
        margin-bottom: 40px;
    }

    .newsletter-section {
        text-align: center;
    }

    .newsletter-form {
        margin-top: 30px;
        padding-left: 0;
    }

    .footer-top-section {
        padding-bottom: 0;
    }

    .footer-top-section .map-area {
        position: relative;
        height: 400px;
        width: 100%;
        margin-top: 50px;
    }

    .copyright,
    .footer-section .social {
        text-align: center;
    }

    .footer-section .social {
        padding-top: 15px;
    }

    .pastor {
        margin-bottom: 40px;
    }

    .widget {
        padding-left: 0;
    }

    .sidebar {
        padding-top: 50px;
    }

    .single-post .social-share {
        text-align: left;
        padding-top: 30px;
    }
}

/* small Mobile :320px. */
@media only screen and (max-width: 479px) {
    .hero-section .hero-content h2 {
        font-size: 35px;
    }

    .pagination-area p {
        float: none;
        padding-top: 15px;
    }

    .blog-item .bi-content .bi-author {
        margin-right: 20px;
    }

    .blog-item .bi-content .bi-cata {
        float: none;
        margin-top: 10px;
    }

    .newsletter-form input {
        padding-right: 25px;
    }

    .newsletter-form .nl-send-btn {
        position: relative;
        padding: 13px 25px;
        margin-top: 20px;
    }
}

.welcome-section h2 {
    font-family: 'codec', sans-serif;
}

.welcome-section h2 span {
    font-family: 'Montserrat', "Open Sans", sans-serif !important;
}

.counter-content {
    display: inline-block;
    padding: 17px 10em;
    border: 3px solid white;
    text-align: center;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.item {
    text-align: center;
}

.box {
    border-radius: 50%;
    height: 250px !important;
    width: 250px;
    object-fit: cover;
    margin: auto;
}

.subbtn {
    border: 2px solid red !important;
    background: white;
    color: red !important;
    margin-top: 1.5em;
}

.subbtn:hover {
    background: red !important;
    color: white !important;
}
 
/* Image gallery stlyling */
.img-container {
  margin: 80px auto 0;
  text-align: center;
}

.container__img-holder {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  margin-left: 16px;
  cursor: pointer;
}

.img-container .container__img-holder:nth-child(3n+1) {
  margin-left: 0;
}

.container__img-holder img {
  width: 100%;
  height: 220px;
  display: block;
}


/* Popup Styling */
.img-popup {
    
    z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.img-popup img {
    max-width: 900px;
  width: 100%;
  opacity: 0;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}

.close-btn {
  width: 35px;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.close-btn .bar {
  height: 4px;
  background: #333;
}

.close-btn .bar:nth-child(1) {
  transform: rotate(45deg);
}

.close-btn .bar:nth-child(2) {
  transform: translateY(-4px) rotate(-45deg);
}

.opened {
  display: flex;
}

.opened img {
  animation: animatepopup 1s ease-in-out .8s;
  -webkit-animation: animatepopup .3s ease-in-out forwards;
}

@keyframes animatepopup {

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

}

@media screen and (max-width: 880px) {

  .container .container__img-holder:nth-child(3n+1) {
    margin-left: 16px;
  }

}
        </style>