@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


 
.youtube-box {
    border: 3px solid transparent;
    padding: 5px;
}
.youtube-box:hover {
    border: 3px solid red;
    padding: 5px;
    z-index: 99999999;
}
 